 <h1>Todos os anúncios</h1>
  <ul>
    <% for ad in @ads %>
      <li><a href="/ads/<%= ad.id %>"><%= ad.name %></a>
      [<%= link_to 'Delete', controller: "ads", action: "destroy", id: ad, :method => :delete%>]</li>
    <% end %>
  </ul>
<p><a href="/ads/new">Novo anuncio</a></p>

